[project]
	description = Structured Stream Transport (http://pdos.csail.mit.edu/uia/sst/)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Soo-Hyun Choi (soohyunc)
[access "refs/for/refs/*"]
	read = group user/Soo-Hyun Choi (soohyunc)
	push = group user/Soo-Hyun Choi (soohyunc)
	label-Code-Review = -2..+2 group user/Soo-Hyun Choi (soohyunc)
	label-Verified = -1..+1 group user/Soo-Hyun Choi (soohyunc)
	rebase = group user/Soo-Hyun Choi (soohyunc)
	removeReviewer = group user/Soo-Hyun Choi (soohyunc)
	submit = group user/Soo-Hyun Choi (soohyunc)
[access "refs/heads/*"]
	read = group user/Soo-Hyun Choi (soohyunc)
	create = group user/Soo-Hyun Choi (soohyunc)
	push = +force group user/Soo-Hyun Choi (soohyunc)
	pushMerge = group user/Soo-Hyun Choi (soohyunc)
[access "refs/tags/*"]
	push = +force group user/Soo-Hyun Choi (soohyunc)
	pushTag = group user/Soo-Hyun Choi (soohyunc)
	pushSignedTag = group user/Soo-Hyun Choi (soohyunc)
